<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Language.Lang }}">
<head>
	{{- partial "head.html" . -}}
</head>
<body class="body">
	{{ block "header" . }}{{ partial "header.html" . }}{{ end }}
	<div class="container container--outer">
		<div class="wrapper flex">
			<div class="primary">
			{{ block "main" . }}
				{{ with .Content }}
				<div class="content main__content clearfix">
					{{ . }}
				</div>
				{{ end }}
			{{ end }}
			</div>
			{{ block "sidebar" . }}{{ partial "sidebar.html" . }}{{ end }}
		</div>
	</div>
	{{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
<script async defer src="{{ "js/menu.js" | relURL }}"></script>
{{ range .Site.Params.customJS -}}
<script src="{{ . | relURL }}"></script>
{{- end }}
{{- partial "mathjax.html" . -}}
</body>
</html>